@import "{{ site.theme }}";
.masonry-grid {
  column-count: 3;
  column-gap: 20px; 
}
.masonry-grid img {
  break-inside: avoid;
  width: 100%; 
  border-radius: 8px; 
  margin-bottom: 20px;
  display: block; 
}
#lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's on top */
}
#lightbox-overlay img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain; /* Prevents image from being cropped */
}
