<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <script>
        document.addEventListener('DOMContentLoaded', function() {
          const galleryImages = document.querySelectorAll('.masonry-grid a');
          const lightboxOverlay = document.createElement('div');
          lightboxOverlay.id = 'lightbox-overlay';
          document.body.appendChild(lightboxOverlay);
          const lightboxImage = document.createElement('img');
          lightboxOverlay.appendChild(lightboxImage);
        
          galleryImages.forEach(imageLink => {
            imageLink.addEventListener('click', function(event) {
              event.preventDefault(); // Prevent default link behavior
              lightboxImage.src = this.href;
              lightboxOverlay.style.display = 'flex';
            });
          });
          lightboxOverlay.addEventListener('click', function() {
            this.style.display = 'none';
          });
        });
      </script>
        
      <div class="footer-basic">
        <footer class="site-footer">
              <div class="social"><a href="https://www.instagram.com/tawleyhawley/"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><!--<a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a>--></div>
              <ul class="list-inline">
                  <li class="list-inline-item"><a href="#">Home</a></li>
                  <li class="list-inline-item"><a href="#">About</a></li>
              </ul>
              <p class="copyright">Emma Hawley © 2025</p>
        </footer>
      </div>
    </main>
  </body>
</html>
